cffi
bcrypt
Flask
Flask-CKEditor
Flask-Login
Flask-Mail
Flask-SQLAlchemy
Flask_WTF
Flask-Migrate
Flask-HTTPAuth
Flask-Restful
Flask-Gravatar
Flask-SessionStore
itsdangerous
Jinja2
libsass
passlib
Pygments
SQLAlchemy
SQLAlchemy-Utils
WTForms
celery[redis]==4.2.0
redis==3.2
pendulum
pyyaml
argparse
configobj
