<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at http://mozilla.org/MPL/2.0/.

 Author(s):
  - Andrew Wheeler <lordsatin@hotmail.com>
  - Alex Lopez  <kasvaca@gmail.com>
-->
{% extends 'base.htm' %}

{% from 'form_utils.htm' import render_field %}
{% block header %}
	{{ ckeditor.load_code_theme() }}
{% endblock %}

{% block nav %}
	<li><a href="{{ url_for('forum.view_forum') }}">Forums</a></li>
	<li class="uk-disabled"><a>User Profile Delete</a></li>
{% endblock %}

{% block content %}
	<div uk-grid>
		{% with user = get_current_user() %}
			<div>
				{% include "components/profile-nav.html" %}
			</div>
		{% endwith %}
		<div class="uk-width-expand">
			{% include "components/user-delete-card.html" %}
		</div>
	</div>
{% endblock %}
