<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at http://mozilla.org/MPL/2.0/.

 Author(s):
  - Andrew Wheeler <lordsatin@hotmail.com>
  - Alex Lopez  <kasvaca@gmail.com>
-->
{% extends "components/card.html" %}

{% block card %}
    {% block card_title %}
        Create Board
    {% endblock card_title %}
    {% block card_body %}
        {{ form.csrf_token }}
        <div>
            {{ render_field(form.title, class='uk-input', placeholder='Board Title') }}
            {{ render_field(form.order, class='uk-input', placeholder='Board Order') }}
            {{ render_field(form.link, class='uk-input', placeholder='Link') }}
            <span class="caption">You must Choose either a Category or a Parent.
            If you choose both the parent will take presedence over the category</span>
            {{ render_field(form.category, class='uk-select', placeholder='Board Category') }}
            {{ render_field(form.parent, class='uk-select', placeholder='Board Parent') }}
        </div>
        <table class="uk-table uk-table-small uk-table-hover uk-table-striped">
            <thead>
                <tr>
                    <th>Group Name</th>
                    <th>View</th>
                    <th>Post</th>
                    <th>Reply</th>
                    <th>Poll</th>
                </tr>
            </thead>
            <tbody>
                {% for view, post, reply, poll, group in groups %}
                    <tr>
                        <td>{{ group.display }}</td>
                        <td>{{ render_field(view, class='uk-checkbox') }}</td>
                        <td>{{ render_field(post, class='uk-checkbox') }}</td>
                        <td>{{ render_field(reply, class='uk-checkbox') }}</td>
                        <td>{{ render_field(poll, class='uk-checkbox') }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock card_body %}
    {% block card_footer %}
        <div class="uk-card-footer">
            <div class="uk-align-right uk-inline">
                {{ form.password(class='uk-input', placeholder='Password') | safe }}
                <button uk-tooltip="Save" uk-icon="icon: check" class="uk-form-icon uk-form-icon-flip" type="submit"></button>
            </div>
        </div>
        {{ field_errors(form.password) }}
    {% endblock card_footer %}
{% endblock card %}