<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at http://mozilla.org/MPL/2.0/.

 Author(s):
  - Andrew Wheeler <lordsatin@hotmail.com>
  - Alex Lopez  <kasvaca@gmail.com>
-->
{% extends "components/card.html" %}

{% block card %}
    {% block card_title %}
        {{user.username}}'s Permissions
    {% endblock card_title %}
    {% block card_body %}
        {{ form.csrf_token }}
        <div uk-grid>
            <div class="uk-width-1-2">
                <span><b>Users Group Permissions</b></span>
                <ul class="uk-list">
                {% for group_right in group_rights %}
                    <li>"{{group_right}}"&nbsp;&nbsp; </li>
                {% endfor %}
                </ul>
            </div>
            <div class="uk-width-1-2">
                <span><b>Users Permissions</b></span>
                <ul class="uk-list">
                {% for right in rights %}
                    <li>"{{right}}"</li>
                {% endfor %}
                </ul>
            </div>
            <div>
                {{ render_field(form.perms, class='uk-input', placeholder='Permissions') }}
                <div class="uk-padding-small uk-padding-remove-left">
                    <a href="{{ url_for('admin.user_edit', user_id=user.id) }}" class="uk-button uk-button-primary">Edit User</a>
                    <a href="{{ url_for('admin.admin_user_group', user_id=user.id) }}" class="uk-button uk-button-primary">Edit Groups</a>
                </div>
            </div>
            <div>
                {{ form.password(class='uk-input uk-align-left', placeholder='Password') | safe }}
                {{ form.remove(class='uk-button uk-button-primary uk-align-right', placeholder='Remove') | safe }}
                {{ form.add(class='uk-button uk-button-primary uk-align-right', placeholder='Add') | safe }}
            </div>
            {{ field_errors(form.password) }}
        </div>
    {% endblock card_body %}
{% endblock card %}