<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at http://mozilla.org/MPL/2.0/.

 Author(s):
  - Andrew Wheeler <lordsatin@hotmail.com>
  - Alex Lopez  <kasvaca@gmail.com>
-->
{% with nav = get_nav(user.id) %}
    {% if nav %}
        <div class="uk-card uk-card-secondary uk-card-body">
            {% for title, subnav in nav %}
                <ul class="uk-nav uk-nav-default">
                    <li class="uk-nav-header">{{ title }}</li>
                    {% for title, link in subnav %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
