<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at http://mozilla.org/MPL/2.0/.

 Author(s):
  - Andrew Wheeler <lordsatin@hotmail.com>
  - Alex Lopez  <kasvaca@gmail.com>
-->
{% extends 'base.htm' %}

{% from 'form_utils.htm' import render_field, field_errors %}

{% block nav %}
	<a href="{{ url_for('forum.view_forum') }}">Forums</a>{% if thread %}->
	<a href="{{ url_for('forum.view_board', board_id=board.id) }}">{{thread.board.title}}</a>->
	Delete Threads
	{% endif %}
{% endblock %}

{% block content %}
	<form method="POST">
		{{ form.csrf_token }}
		{% include "components/delete-thread-card.html" %}
	</form>
{% endblock %}